.main-body {
    width: 100%;
    max-width: 830px;
    height: 80%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.header {
    text-align: center;
}

.text-box {
    width: 400px;
    height: 200px;
    margin: 0 auto;
    display: block;
    font-size: 60px; 
    text-align: center;


}

.title {
    font-size: 22px;
    margin-bottom: 15px;
    position: relative;
    left: -28%;
    color: #030303;
    background-color: #b4eccb;

}


.subtitle {
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.highlight {
    font-size: 24px;
    color: #f70e0e;
    font-weight: bold;
    margin-bottom: 10px;
}


.under-text {
    font-size: 20px;
    color: #f70e0e;
    text-decoration: underline;
    text-align: center; 
    display: block; 
    margin: 0 auto; 
}

.under-text2 {
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    display: block;
    margin: 0 auto; 
}


